* {
    padding: 0;
    margin: 0;
}

.leiras {
    width: 70%;
    margin: 50px auto;
    border-radius: 25px;
    background-color: rgb(250, 235, 215);
    font-style: italic;
}

h1 {
    color: rgb(255, 149, 107);
    text-shadow: 4px 4px 1px black;
}

.kepkeret {
    background-color: white;
    clear: both;
    border: 5px rgb(255, 149, 107) solid;
    text-align: center;
}

img {
    border-radius: 20px;
}

table {
    margin: auto;
}

td, th {
    border: 2px black solid;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: rgb(255, 149, 107);
    text-shadow: 4px 4px 1px black;
}

.nav a {
    color: red;
    font-style:normal;
    transition: all 1s;
}

.nav a:hover {
    border-radius: 10px;
}
