body {
    background-color: lightblue;
}

#piros {
    background-color: red;
    width: 150px;
}

#kek {
    background-color: blue;
    width: 75%;
}

#felsodoboz {
    background-color: lightgray;
    width: 50%;
}

#zold {
    background-color: green;
    /* vw : view width */
    /* %-ban értetendő */
    width: 75vw;
}

#lila {
    background-color: purple;
    height: 100px
}

#citrom {
    background-color: yellow;
    /* vh = view height */
    height: 20vh;
}

