body {
    background-color: lightblue;
}

#piros {
    background-color: red;
    width: 150px;
}

#kek {
    background-color: blue;
    width: 75%;
}

#felsodoboz {
    background-color: lightgray;
    width: 50%;
}

#zold {
    background-color: green;
    /* vw : view width */
    /* %-ban értetendő */
    width: 75vw;
}

#lila {
    background-color: purple;
    height: 100px
}

#citrom {
    background-color: yellow;
    /* vh = view height */
    height: 20vh;
}

#szegely {
    background-color: orange;
    /* dashed, solid, dotted, double */
    /* border-style: solid;
    border-width: 2.5px;
    border-color: red; */
    border: 2.5px solid red;
}

#vegyes {
    background-color: aqua;
}

#felsodoboz ~ div {
    width: 40%;
    height: 40px;
}

#kulso_margo {
    background-color: blue;
}