#foci {
    font-weight: bold;
    font-style: oblique;
}

h1 {
    font-weight: normal;
}

p {
    font-size: 10px;
}

#football {
    /* font-size: 50px; */
    /* font-size: 200%; */
    font-size: 2rem;
    background-color: lightblue;
    display: inline-block;
    /* width: 50%; */
    /* width: 0.5em; */
}

html {
    font-size: 2px;
}

#futball {
    color: red;
    font-size: 2.5rem;
}

#USA {
    font-variant: small-caps;
}

#ifab {
    color: blue;
    font-family: monospace;
}