div {
    background-color: lightblue;
    border: 1px solid black;
    height: 40px;
    width: 100px;
    margin: 20px;
}

#fenti {
    box-shadow: 5px 3px blue;
}

#lenti {
    box-shadow: 0px 0px 20px red;
}

p {
    text-shadow: 2px 3px 10px green;
}

ul {
    background-color: lightcoral;
    /* padding: 0px; */
}

li {
    background-color: lightcyan;
    padding: 5px 0px;
    margin-bottom: 10px;
    list-style-type: circle;
    list-style-position: inside;
}

a {
    text-decoration: none;
    background-color: rgb(240, 240, 0);
    border: 1px solid black;
    padding: 20px;
    width: 30%;
    text-align: center;
    display: block;
    margin: 10px auto;
}

table, td, th {
    border: 1px solid black;
}

table {
    margin: auto;
    margin-bottom: 12%;
}

td, th {
    background-color: white;
    height: 50px;
    width: 150px;
}

body {
    background-color: rgba(144, 238, 144, 0.4);
}
