body {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    /* position: relative; */
}

div {
    width: 100px;
    height: 50px;
    border: 1px solid black;
}

#a {
    background-color: red;
    /* margin-left: 20px;
    margin-top: 20px; */
    /* static, relative, absolute, fixed, sticky */
    position: relative;
    left: 20px;
    top: 10px;
    z-index: 1;
}

#b {
    background-color: green;
    /* absolute: legkozelebbi pozicionalt őshoz kepest */
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 3;
}

#c {
    background-color: blue;
    position: fixed;
    right: 5px;
    top: 10px;
}

#d {
    background-color: yellow;
    position: sticky;
    top: 0px;
    left: 40px;
    z-index: -1;
}

#e {
    background-color: brown;
    text-align: right;
    position: relative;
    left: 50px;
    bottom: 70px;
    z-index: 2;
}

/* A, B, D ,E */
/* D, A, E, B */